Repository strong-roots-capital/bybit-api: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

supports kline websocket subscriptions
  package-lock.json
  package.json
  src/codecs/BybitKlineSubscriptionRequest.ts
  src/codecs/BybitSubscriptionRequest.ts
  src/codecs/BybitTimeframe.ts
  src/codecs/BybitTradepair.ts
  src/codecs/ws/BybitChannelMessage.ts
  src/codecs/ws/BybitKline.ts
  src/codecs/ws/BybitSubscriptionResponse.ts
  src/codecs/ws/BybitWebsocketMessage.ts
  src/index.ts
  src/websocket-public.ts
  test/manual/unsafe-parse.ts
  test/manual/ws-public.ts
  test/property/test-bybit-api.ts
  test/system/test-bybit-api.ts
  test/unit/test-bybit-api.ts
Due: prettier --write, eslint --fix

supports kline rest requests
  .editorconfig
  package-lock.json
  package.json
  src/codecs/BybitTimeframe.ts
  src/codecs/BybitTradepair.ts
  src/codecs/rest/AxiosResponse.ts
  src/codecs/rest/BybitRestMessage.ts
  src/codecs/rest/KlineRequest.ts
  src/codecs/rest/KlineResponse.ts
  src/codecs/ws/BybitKlineSubscriptionRequest.ts
  src/codecs/ws/BybitSubscriptionRequest.ts
  src/index.ts
  src/rest.ts
  src/websocket-public.ts
  test/manual/rest-public.ts
  test/manual/unsafe-parse.ts
Due: prettier --write, eslint --fix

prepend ws kline data with previous complete candle
  .nvmrc
  package-lock.json
  package.json
  src/codecs/BybitTimeframe.ts
  src/codecs/rest/BybitRestMessage.ts
  src/codecs/rest/KlineRequest.ts
  src/codecs/rest/KlineResponse.ts
  src/codecs/unsafe-parse.ts
  src/codecs/ws/BybitKlineSubscriptionRequest.ts
  src/codecs/ws/BybitWebsocketMessage.ts
  src/rest.ts
  src/websocket-public.ts
  test/manual/rest-public.ts
  test/manual/ws-public.ts
  tsconfig.json
Due: prettier --write, eslint --fix

refactor: use ratlog
  package-lock.json
  package.json
  src/log.ts
  src/rest.ts
  src/websocket-public.ts
Due: prettier --write, eslint --fix

avoid deprecated functions
  src/websocket-public.ts
  test/manual/ws-public.ts
Due: prettier --write, eslint --fix

refactor: extract ratlog-debug
  package-lock.json
  package.json
  src/log.ts
  src/rest.ts
  src/websocket-public.ts
Due: prettier --write, eslint --fix

0.0.2
  package-lock.json
  package.json
Due: eslint --fix

chore: tighten tsconfig
  tsconfig.json
Due: eslint --fix

feat: export BybitTimeframe and BybitTradepair
  src/index.ts
Due: prettier --write, eslint --fix

0.0.3
  package-lock.json
  package.json
Due: eslint --fix

chore: downgrade io-ts
  package-lock.json
  package.json
Due: eslint --fix

0.0.4
  package-lock.json
  package.json
Due: eslint --fix

chore: export rest api client type
  src/rest.ts
Due: prettier --write, eslint --fix

0.0.5
  package-lock.json
  package.json
Due: eslint --fix

refactor: rename codecs for clarity
  src/codecs/rest/BybitRestKlineRequest.ts
  src/codecs/rest/BybitRestKlineResponse.ts
  src/codecs/ws/BybitChannelMessage.ts
  src/codecs/ws/BybitWebsocketKline.ts
  src/rest.ts
  src/websocket-public.ts
Due: prettier --write, eslint --fix

chore: export bybit api codecs
  src/codecs/rest/index.ts
  src/codecs/ws/index.ts
  src/index.ts
Due: prettier --write, eslint --fix

0.0.6
  package-lock.json
  package.json
Due: eslint --fix

refactor: expose observables not subjects
  src/rest.ts
  src/websocket-public.ts
Due: prettier --write, eslint --fix

0.0.7
  package-lock.json
  package.json
Due: eslint --fix

chore: add semantic-release and github actions
  .github/workflows/ci.yml
  .github/workflows/release.yml
  package-lock.json
  package.json
Due: eslint --fix

fix: do not invoke the rest api on ws connection
  src/websocket-public.ts
Due: prettier --write, eslint --fix

chore: upgrade eslint-config
  package-lock.json
  package.json
  src/websocket-public.ts
Due: prettier --write, eslint --fix

Notes added by 'git notes add'
  d0deebd2bbc7c5173c6c5feed8dae6e4aaad42df
Due: none

Path conditions:
  prettier --write: any of: *.ts
  eslint --fix: (any of: *.ts) or (any of: *.json)
